@import "tailwindcss";

body {
  min-height: 100dvh;
  background: linear-gradient(to bottom, #acb8c6, #849cb5, #577895, #41617d, #07357e);
  background-attachment: fixed;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4 landscape;
    margin: 12mm;
  }

  body {
    background: white !important;
  } 

  input,
  button {
    display: none !important;
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}
